@import '~antd/dist/antd.css';
.App {
  font-family: sans-serif;
  margin: 1rem;
}

.anagram {
background: #212121;
 align-items:center;
 text-align:center;
 color: #dddddd;
 height:100vh;
 padding:3rem;
 box-shadow:
        0 0.6px 1.1px rgba(0, 0, 0, 0.035),
        0 5px 9px rgba(0, 0, 0, 0.07);
}

.cardMovies {
  display:flex;
  flex-direction:row;
  margin: 1rem;
  box-shadow:
        0 0.6px 1.1px rgba(0, 0, 0, 0.035),
        0 5px 9px rgba(0, 0, 0, 0.07);
}
.cardMovies > img {
  width: 20vw;
  height: 35vh;
}
.cardMovies > div {
  flex-direction: column;
  margin: 1rem;
}

